


<div class="alphabet-bar">
  <div class="navbar-wrapper-container">
    <div class="div-block">
      <div class="user-status">Logged in as: <strong><a href="/user/<%=current_user.slug%>"><%=current_user.name%></strong></a></div>
      <form action ="/logout" method="GET"><input type="submit" value="Log Out" class="logout w-button"></form>
  </div>
  <div class="alphabet-wrapper">
    <form action="/select" method="POST"><input type="submit" value="A" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="B" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="C" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="D" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="E" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="F" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="G" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="H" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="J" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="K" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="L" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="M" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="N" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="P" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="Q" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="R" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="S" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="T" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="V" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="W" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="Y" name="composer_initial" class="alphabet_button w-button"></form>
    <form action="/select" method="POST"><input type="submit" value="Z" name="composer_initial" class="alphabet_button w-button"></form>
    </div>
  </div>
</div>
