<div class="index_hero">
    <div class="welcome_wrapper">
        <div class="welcome_box">
            <div>
                <h1 class="hero-heading-1">Welcome to the Henle Verlag Commentary Platform!</h1>
            </div>
            <div class="div-block">
                <div class="welcome-page-form-wrapper">
                    <div class="welcome-options-title-wrapper">
                        <h3 class="signin-options-heading">Sign In:</h3>
                    </div>
                    <div class="form-block-2 w-form">
                        <form id="email-form" name="email-form" data-name="Email Form">
                            <label for="name">Name</label>
                            <input type="text" class="w-input" maxlength="256" name="name" data-name="Name" id="name">
                            <label for="email">Email Address</label>
                            <input type="email" class="w-input" maxlength="256" name="email" data-name="Email" id="email" required="">
                            <input type="submit" value="Sign In" data-wait="Please wait..." class="comment_submit w-button">
                        </form>
                        <div class="w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="w-form-fail">
                            <div>Oops! Something went wrong while submitting the form.</div>
                        </div>
                    </div>
                </div>
                <div class="welcome-page-form-wrapper">
                    <div class="welcome-options-title-wrapper">
                        <h3 class="signin-options-heading">Not a user? create an account:</h3>
                    </div>
                    <div class="form-block-2 w-form">
                        <form id="email-form" name="email-form" data-name="Email Form">
                            <label for="name-2">Name</label>
                            <input type="text" class="w-input" maxlength="256" name="name-2" data-name="Name 2" id="name-2">
                            <label for="email-2">Email Address</label>
                            <input type="email" class="w-input" maxlength="256" name="email-2" data-name="Email 2" id="email-2" required="">
                            <label for="email-3">Password</label>
                            <input type="email" class="w-input" maxlength="256" name="email-2" data-name="Email 2" id="email-2" required="">
                            <input type="submit" value="Sign Up" data-wait="Please wait..." class="comment_submit w-button">
                        </form>
                        <div class="w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="w-form-fail">
                            <div>Oops! Something went wrong while submitting the form.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
              
