<div class="title_wrapper">
  <h3 class="heading_primary"><%=@user.name.capitalize%>'s dashboard</h3>
  <h3> List of current favorites: </h3>
</div>

<%@user.favorites.each do |favorite| %>

  <%@work = Work.find(favorite.work_id)%>
<li>  <%= erb :"templates/main_block"%></li>
<% end %>
