<h1> this is the composer show page</h1>
<h2><%=@composer.name%></h2>
<li>
<%@composer.works.each do |work| %>
<%@work = work%>
<%= erb :"templates/import_sandbox"%>
<% end %>
</li>

<h3><a href="<%=@composer.url%>" target="_blank">reference page</a></h3>
