<% if logged_in? %>
  <div class="nav">
    <a href="/logout"><button type="button">Log out</button></a>
    <a href="/tweets/new"><button type="button">Fix Me!!</button></a>
  </div>
<% else %>
  <%= erb :"templates/welcome" %>
<% end %>
