<!doctype html>
<html>
  <head>
    <title>Henle Commentor</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body class="body">

<div class="container">

<% if logged_in? %>
<%= erb :"templates/alphabet_banner" %>
<% end %>

      <%= yield %>

    </div>

  </body>
</html>
