  <div class="nav-bar-basic">
    <div class="navbar-wrapper-container">
      <div class="navbar-button-holder">
        <a href="#" class="navigation-links">Log In</a>
      </div>
      <div class="navbar-button-holder">
        <a href="#" class="navigation-links">Sign Up</a>
      </div>
    </div>
  </div>
