  <div class="nav-bar-basic">
    <div class="navbar-wrapper-container">
      <div class="navbar-button-holder">
        <a href="#" class="navigation-links">Log In</a>
      </div>
      <div class="navbar-button-holder">
        <a href="#" class="navigation-links">Sign Up</a>
      </div>
    </div>
  </div>

<br><br><br>

<div class="alphabet-bar">
  <div class="navbar-wrapper-container">
  <div class="alphabet-wrapper">
    <input type="submit" value="A" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="B" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="C" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="D" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="E" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="F" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="G" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="H" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="J" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="K" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="L" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="M" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="N" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="P" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="Q" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="R" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="S" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="T" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="V" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="W" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="Y" name="composer_initial" class="alphabet_button w-button">
    <input type="submit" value="Z" name="composer_initial" class="alphabet_button w-button">
    </div>
  </div>
</div>
